@value constants: "../Constants.module.css";
@value menuHeight from constants;

.Menu {
  width: 100%;
  height: menuHeight;
  background-color: #e0e2eb;
}

.MenuItem {
  float: left;
  padding: 3px 4px 0px 4px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 10px;
  height: calc(menuHeight - 3px);
}

.MenuItemLeft:hover {
  background-color: #bbb7c7;
}

.MenuItemRight {
  float: right;
}
