.overseer {
  width: 32px;
  height: 32px;
  margin-top: 18px;
  margin-left: 13px;
  margin-right: 13px;
  image-rendering: pixelated;
  border-width: 1px;
  border-style: solid;
  border-top-color: #00ff00;
  border-left-color: #00ff00;
  border-right-color: black;
  border-bottom-color: black;
  padding: 2px;
}