@value constants: "../../Constants.module.css";
@value gameWidth, gameHeight, topRowHeight, cardWidth, cardPadding, menuHeight from constants;

.TopRow {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  height: topRowHeight;
}

.TopRowLeft {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  width: 284px;
}

.TopRowRight {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-end;
  width: 284px;
}

.Table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  height: calc(gameHeight - menuHeight - topRowHeight);
  width: gameWidth;
}

.Column {
  width: calc(cardWidth + cardPadding);
  height: 100%;
}

.Column:first-child, .Column:last-child {
  width: calc(cardWidth + cardPadding * 1.5);
}