.App {
  background-color: #027d01;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  min-height: 100vh;
}

.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

img {
    object-fit: none;
    width: 360px;
    height: 540px;
    /* transform: scale(0.3); */
    object-position: -30px -30px;
    object-position: -420px -30px;
    object-position: -30px -600px;
}

.card {
  width: 10vw;
}