@value constants: "./Constants.module.css";
@value menuHeight, topRowHeight from constants;

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 632px;
  height: 544px;
  transform-origin: 0 0;
}

body {
  background-color: #027d01;
}

* {
  image-rendering: pixelated;
}

.Menu {
  width: 100%;
  height: menuHeight;
  background-color: #e0e2eb;
}

.TopRow {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  height: topRowHeight;
}

.TopRowLeft {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  width: 284px;
}

.TopRowRight {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-end;
  width: 284px;
}
