.App {
  background-color: #027d01;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  min-height: 100vh;
}

.Row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  height: calc(12vw * .4);
}

.TopRow {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  height: calc(15vw);
}

.TopRowLeft {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  width: 47.5vw;
}

.TopRowRight {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-end;
  width: 47.5vw;
}